<h2>Create a new movie</h2>
<form action="/movies/create" method="POST">
  <label>
    Name
    <input type="text" name="name">
  </label>
  <label>
    Celebrities
      <!--<input type="text" name="author">-->
      <select name="celebrities" required>
        <option value="">Choose Celebrity</option>
        {{#each celebs}}
          <option value={{_id}}>{{name}}</option>
        {{/each}}
      </select>
  </label>
  <label>
    Rating
    <input type="number" name="rating" max="10">
  </label>
  <button type="submit">Create</button>
</form>