</div class="welcome-page">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <a href="/celebrities">List of Celebs</a>
    <a href="/celebrities/create">Create Celeb</a>
    <a href="/movies">list of movies</a>
    <a href="/movies/create">Create Movie</a>
</div>
